@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #B19079;
    margin: 0;
    padding: 0;
    color: #B19079;
}

section{
    height: 100vh;
    width: 100vw;
    background-color:#EFEBE0 ;
    display: flex;   
    flex-direction: column;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

.titlebox {  
    background-color: #E5E2D7;
    border-radius: 50px;
    width: 1350px;
    height: 300px;  
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 40px auto;
}       

.titlebox h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #B19079;
}

.paragrafo-nobox{
    font-size: 20px;
    text-align: left;
    margin-top: 150px;
}


.paragrafo-nobox p{
    color: #B19079;
    filter: drop-shadow(0px 2px 2px #B19079 );
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      } 
}

.arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #B19079;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.arrow.hidden {
    opacity: 0;
    transform: translateY(20px);
}


@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.2); opacity: 0.7; }
    100% { transform: scale(1); opacity: 1; }
}

.box{
    font-size: 30px;
    text-align: left;
    background-color:#E5E2D7 ;
    border-radius: 50px;
    width: auto;
    max-width: 1650px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin: 0px auto;
}

footer{
    position: absolute;
    background-color: #B19079;
    color:#EFEBE0 ;
    width: 100% ;
    height: 100px;
    text-align: center;
}
.Third-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Third-section a {
    margin: 50px;
}
.button-34 {
  background: #B19079;
  border-radius: 999px;
  box-shadow: #B19079 0 10px 20px -10px;
  box-sizing: border-box;
  color: #EFEBE0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;    
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}


img{
    width: 1650px;
    height: 900px;
}